<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Accueil du site de Cinéma</h1>
    <h2>Connectez-vous pour accéder aux listes des acteurs et réalisateurs </h2>
    <form action="/connect" method="POST" >
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="PASSWORD">
        <input type="submit" value="Se connecter">
    </form>
    <p><button> <a href="../signup">S'enregistrer</a></button></p>

</body>
</html>