<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <style>
        *{
            font-family: Verdana, Geneva, Tahoma, sans-serif;            
        }

        button{
            background: rgb(208, 199, 199);
            color: rgb(32, 32, 32);          
            border-radius: 5px;
            border:10px rgb(32, 32, 32);
        }
        a{
            text-decoration: none;
            color: rgb(32, 32, 32);
        }
        ul{
            list-style: none;
           
        }
        body {
            background-color: #aa4949;
           
           
        }
        img {
            max-width: 20%;
            margin: 10px auto;
           
            border-radius: 5px;
            border: rgb(32, 32, 32);
          
        }
        li{
            margin: 10px auto;
            text-align: center;           
            border-radius: 5px;
            border: rgb(32, 32, 32);
            
        }
    </style>   
</head>

<body>
    <h1>Liste des acteurs</h1>
    <button><a href="/ajout_acteur">Ajouter un acteur</a></button>
    <ul>
        <% acteurs.forEach(function(a) { %>
           <li> <%= a.prenom %> <%= a.nom %><br> <a href="acteur/<%= a.id %>"><img src="<%= a.photo %>" alt=""></a></li>
        <% }); %> 
    </ul> 

</body>
</html>

