<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
</head>
<body>
    <h1>Liste des acteurs</h1>
    <button><a href="/ajout_acteur">Ajouter un acteur</a></button>
    <button><a href="/delete_acteur">Supprimer un acteur</a></button>
    <button><a href="/modifier_acteur">Modifier un acteur</a></button>
    <ul>
        <% acteurs.forEach(function(a) { %>
           <li> prenom:<%= a.prenom %> nom:<%= a.nom %><img src="<%= a.photo %>" alt=""></li>
        <% }); %> 
    </ul> 

</body>
</html>

