<h1>Ajout acteur</h1>
<form action="/send" method="post">
    <input type="text" name="prenom"placeholder="prenom">
    <input type="text" name="nom"placeholder="nom">
    <input type="text" name="photo" placeholder="photo">
    <input type="submit" value="ajouter">
</form>