<h1>Supprimer un acteur</h1>
<form action="/delete_acteur" method="post">
    <input type="text" name="prenom">
    <input type="text" name="nom">
    <input type="text" name="photo">
    <input type="submit" value="supprimer">
</form>