<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
</head>
<body>
    <h1>Liste des realisateurs</h1>
    <ul>
        <% realisateurs.forEach(function(r) { %>
           <li> <%= r.prenom %> <%= r.nom %><img  src="<%= r.photo %>"  alt=""></li>
        <% }); %> 
    </ul> 
</body>
</html>